body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1, h2 {
  color: #333;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
}

.social-media-list li {
  margin: 15px 0;
}

.social-media-list a {
  text-decoration: none;
  color: #1a73e8;
  font-size: 18px;
}

.social-media-list a:hover {
  text-decoration: underline;
}

/* New styles for phone number link */
.social-media-list li:last-child a {
  color: #1a73e8;
  font-size: 18px;
}
